@keyframes fade-in-points {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fade-in-waves {
  from {
    transform: rotate(-5deg) translateY(100%);
    opacity: 0;
  }
  to {
    transform: rotate(-5deg) translateY(30%);
    opacity: 1;
  }
}

.background {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    position: absolute;
  }
  &__points {
    top: 15%;
    left: -1px;
    height: 20%;
    transform: translateX(-100%);
    animation: fade-in-points 400ms forwards;
    animation-delay: 300ms;
  }
  &__waves {
    bottom: 0;
    right: 0;
    height: 65%;
    transform: rotate(-5deg) translateY(100%);
    animation: fade-in-waves 400ms forwards;
    animation-delay: 100ms;
  }
}
