
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #00232B;
  border: #fff solid 4px;
  color: #fff;
  width: 460px;
  max-width: 80%;
  overflow-y: auto;
}